{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Members Report</title>
    <style>
      {% include 'report/style.css' %}
    </style>
  </head>
  <body>
    <div class="header">
      <table>
	<tr>
	  <td class="logo">
	    <img src="{{ logo_url }}" />
	  <td>
	  <td>
	    <h1>Members Report</h1>
	  </td>
	</tr>
      </table>
    </div>
    <div class="body">
      <table>
	<tr>
	  <th>First name</th>
	  <th>Last name</th>
	  <th>Email</th>
	  <th>State</th>
	  <th>Member ID #</th>
	</tr>
	{% for member in members %}
	<tr class="{% cycle 'odd' 'even' %}">
	  <td>{{ member.first_name }}</td>
	  <td>{{ member.last_name }}</td>
	  <td>{{ member.email }}</td>
	  <td>{{ member.state }}</td>
	  <td>{{ member.id_number }}</td>
	</tr>
	{% endfor %}
      </table>
    </div>
  </body>
</html>
